/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* End Google Font */

/* Common Style */
body{
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1160px;
    padding: 60px 0;

}

/* End Common Style */

/* start header part */

.header-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.heading-title{
    font-size: 64px;
    font-weight: 800;
    color:#ffffff;
    font-family: "Poppins",sans-serif;
}
.button-design{
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 1s;
}
.button-design:hover{
    background-color: #f884af;
    box-shadow: 0 0 10px rgba(255, 34, 145, 0.1);
    border-radius: 10px;
    
}
.header-content-half i{
 margin-left: 15px;
 text-align: center;
}
.header-content-half img{
    width: 556.01px;
    height: 438px;
}
.header-content-half img:hover{
  position: relative;
  animation: 3s infinite alternate mymove;
  animation-duration: 2s;

}
@keyframes mymove {
  from {top: 0px;}
  to {right: 100px;}
}

/* End Header section */

/* start plaer list*/
.palyers-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}
.player{
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(13, 13, 14, 0.1);
}
.player img{
    width: 100%;
}
.player-name{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    font-family: "Poppins",sans-serif;
    margin-bottom: 0;
}
.player-description{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}

/* End Player Section */

/* Start news section */
.news-heading{
    font-size: 50px;
    color:#E02C6D;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(240, 129, 234);

}
.date-style{
    background-color: rgb(12, 12, 12);
    padding: 5px 10px;
    color: white;
    font-size: 17px;
    display: inline-block;
    position: absolute;
    top:0;
    left: 15px;
    margin-top:15px ;
}
.latest-news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.news{
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(13, 13, 14, 0.1);
    border-radius: 5px;
    position: relative;
}

.news img{
    width: 100%;
}
.news-description{
    color:rgb(190, 190, 190);
    font-size: 16px;
    line-height: 22px;
}

/* End News section */

/* start trophy section */

.trophy-content{
    display: flex;
    align-items: center; 
}
.cup{
    display: flex;
    align-items: center;
}
.cup img{
    width: 200px;
    height: 300px;
}
.trophy-room{
    font-size: 32px;
    color: black;
    font-family: "Poppins",sans-serif;
    font-weight: 800;
}
.trophy-des,span{
    color: rgb(160, 159, 159);
    line-height: 26px;
    margin-bottom: 40px;
}
.trophy-button{
    background-color: #E02C6D;;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.year-cup{
    text-align: center;
}
.trophy{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(13, 13, 14, 0.1);
}

/* End Tropy section */

/* start footer section */

.footer-design{
    text-align: center;
}
footer img{
width: 483.87px;
height: 110px;
}
.icon-design i{
    color: #969BAB;
    margin: 0px 14px;
    font-size: 20px;
}
/* start footer section */
